.tech-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

.indv-icon {
    font-size: 80px;
}

.about-header {
    text-decoration: underline;
}

.contact {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}


.contact-child {
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.contact-child > a {
    text-decoration: none;
    color: black;
}
