.indv-tee {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.tee-pic {
    width: 500px;
    border: 1px solid blue;
}

.tee-info {
    margin-top: 50px;
    width: 60%;
    border: 1px solid green;
    align-self: flex-start;
    justify-self: right;
}

.reviews {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.tee-n-title {
    display: flex;
    border: 1px solid orange;
}
