.tee-img {
    width: 300px;
    height: 300px;
    /* border: 1px solid gray; */

}

.tee-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.tee-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    position: relative;
}

.fave-heart {
    margin: 8px;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    color: palevioletred;
}

.tee-link {
    text-decoration: none;
    color: black;
}

.tee-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.tee-brand {
    font-weight: bold;
    font-style: italic;
}

.tee-brand>a {
    text-decoration: none;
    color: black;
}

.tee-brand>a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.filled {
    color: palevioletred !important;
}
